body{font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.hifer{
    text-decoration: none;
    margin: 10px;
    color: black;
}
.moja{
    text-align: right;
    padding: 3%;
}
.over{
    margin-top: 5%;
    
}
.bg{
    background-color: white;
    height: 950px;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.font-size{
    font-size: 30px;
    color: gray;
}

.name-highlight{
    color: red;
}
.half-width{
    width: 30%;
    margin-left: 5%;
    padding: 5% ;
    float: left;
}



img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: whitesmoke;
}
.box{
    width: 28%;
    height: 50%;
    margin-left: 20px;
    padding: 10px;
    float: left;
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    }
.head-line{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 3%;
}
.card{
    background-color: whitesmoke;
    height: 700px;
    
}
.left{
    margin-left: 5%;

}
.last{
    height: 400px;
    background-color: white;
}
.first{
    margin-left: 30%;
    
  

}
.second{
    margin-left: 20%;
    width: 60%;
    height: 20%;
}
.third{
    padding-top: 5px;
    margin-left: 65%;
    position: absolute;
    
}
.same{
    width: 40px;
    height: 40px;
    float: left;
    margin: 10px;
    
}
.run{
    margin-left: 42%;
}
.fixed{
    text-align: center;
    margin-bottom: 2%;
}

    
